<suite name="UNQalendarioTest">
    <test name="Register page load test">
        <classes>
            <class name="LoginTest"/>
            <class name="RegisterTest"/>
            <class name="HomeTest"/>
            <class name="AdministracionTest"/>
            <class name="MateriaTest"/>
        </classes>
    </test>
</suite>